{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Quest</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'deliverer/style.css' %}">
  <link rel="stylesheet" href="{% static 'deliverer/aribastyle.css' %}">
  <script src="{% static 'deliverer/main.js'%}"></script>

</head>

<body class="overall container-md" style=" background-color: #D7E6EE;
    color: #4B85A4;">
  <nav class="navbar fixed-top container-fluid navbar-expand-lg navbar-dark bg-dark">
    {% if request.user.is_authenticated %}
    <a class="navbar-brand " href="#"><b style="color: #4B85A4;">Deliverer</b></a>
    {% else %}
    <a class="navbar-brand " href="{% url 'user_index' %}"><b>Food<span style="Color: #4B85A4">Quest</span></b></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav float-right mr-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active ">
          <a class="nav-link text-light " href="{% url 'deliverer_index' %}">{{ request.user.first_name }}<span
              class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item active">
          <a class="nav-link text-light " href="{% url 'logout_deliverer'%}">Logout<span
              class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link text-light " href="{% url 'login_deliverer' %}">Login<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light " href="{% url 'register_deliverer' %}">Register<span
              class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>
  <br>
  <br>
  {% block content %}
  {% endblock %}
</body>

</html>
<!--

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Quest</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'deliverer/style.css' %}">
        <link rel="stylesheet" href="{% static 'deliverer/aribastyle.css' %}">
        <script src="{% static 'deliverer/main.js'%}"></script>
        
    </head>
    <body class="overall container-md" style="background-color: #FEB921;color: #722910;">
        <nav class="navbar fixed-top container-fluid navbar-expand-lg navbar-light bg-dark">
            {% if request.user.is_authenticated %}
            <a class="navbar-brand " href="#"><b style="color: #FEB921;">Deliverer</b></a>
            {% else %}
            <a class="navbar-brand " href="{% url 'user_index' %}"><b style="color: #FEB921;">Food Quest</b></a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav float-right mr-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item active ">
              <a class="nav-link text-light "href="{% url 'deliverer_index' %}">{{ request.user.first_name }}<span class="sr-only">(current)</span></a>
            </li>
            
              
              <li class="nav-item active">
                <a class="nav-link text-light " href="{% url 'logout_deliverer'%}">Logout<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link text-light " href="{% url 'login_deliverer' %}">Login<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-light " href="{% url 'register_deliverer' %}">Register<span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          </ul>
          
        </div>
    </nav>
    <br>
    <br>
        
    </body> 

</html>-->